# video and image outputs
*.avi
*.mov
*.mkv
*.jpg
*.jpeg

# metadata and diagnostics files
*.json
*.csv

# python cache files
__pycache__/
*.pyc
*.pyo
*.pyd

# virtual environments
.venv/

# logs
.log

# testing subfolders
/testing/rgb_frames/
/testing/spad_frames/
